*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat' sans-serif;
}

.header{
    width: 100%;
    box-sizing: border-box;
    padding-right: 1%;
    padding-left: 1%;
    margin-top: 2%;
}
.menu{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 100%;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 7px 
    rgba(129, 129, 129, 0.25);

}
.menu__ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 20%;
}
.menu__li{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    text-transform: capitalize;
    
}
a{
    text-decoration: none;
}
.menu__li a{
    color: #000000;
}

.menu__signup{
    background-color: #FFFFFF;
    border-style: none;
    width: 62px;
    height: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    display: flex;
    align-items: left;
    letter-spacing: -0.015em;

    color: #05A88D;
}
.menu__login{
    background-color: #FFFFFF;
    border-style: none;
    background-color: #FFFFFF;
    border-style: none;
    width: 62px;
    height: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    display: flex;
    align-items: right;
    letter-spacing: -0.015em;

    color: #05A88D;
}
.menu__logo{
    width: 10%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

    color: #05A88D;

}
.menu__signup:hover{
    width: 105px;
    height: 45px;
    left: 1150px;
    top: 27px;

    border: 1px solid #05A88D;
    border-radius: 3px;
    align-items: center;
}
.menu__login:hover{
    width: 105px;
    height: 45px;
    left: 1150px;
    top: 27px;

    border: 1px solid #05A88D;
    border-radius: 3px;
    align-items: center;
}
.menu__link:hover{
    color: #05a88d;
}
.buttons{
    display: inline-flex;
    justify-content: space-between;
    width: 13%;
}